.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 20px;
  opacity: 90%;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.screen-header__icon span {
  margin-left: 15px;
}
.screen-header__icon__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: 15px;
  top: 40px;
}

:link,
:visited {
  color: black;
}